<!DOCTYPE = html>
<html lang="en">
<head>
<meta charset = "UTF-8">
<meta http-equiv="X-UA-Compatible" content = "IE=edge">
<meta name = "viewport" content = "width = device-width, initial-scale=1.0">
<title> Industrial Safety Risk Prediction </title>
<style type="text/css">
    form {
        text-align: center;
    }
    input {
        width: 100px;
    }
    </style>
</head>
<body>
<h2> Model Deployment </h2>
<form action ="/index" method = "POST">
      <br>
      {{descrip}}
      <br>
      <label for="msg"><b>Description</b></label> 
      <textarea name = "description"  rows = 4 cols = 50 placeholder = "Type Description">
      
      </textarea>
      <br>
      <input type = "submit" class = "btn" >
      <br>
      
      <br>
      
</form>

</body>
</html>